.my-groups {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 1;
	margin: auto auto auto 0;
	width: 15%;
	height: 91%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}

.my-groups ul {
	display: flex;
	flex-flow: column;
	justify-content: left;
	align-items: left;
	text-align: center;
}
.my-groups li {
	align-items: center;
	justify-self: center;
	list-style: none;
	font-size: medium;
	flex-wrap: wrap;
}

.my-groups-image {
	z-index: 20;
	box-shadow: 0 0 0 1px green, 0 0 13px #333;
	width: 80%;
	height: 55%;
	border: none;
	border-radius: 10px;
}
