.news {
	display: flex;
	flex-flow: column;
	font-size: 15px;
	gap: 0px;
	border: 1px solid black;
	border-radius: 10px;
    flex-wrap: wrap;
    height: 100%;
    padding: 5px;
    
}

.news li {
	display: flex;
	flex-flow: column;
	gap: 0px;
}
